<div *ngIf="hero">

    <div class="row">
        <div class="col-md-4 col-md-offset-2">

            <div class="panel panel-default">
                <div class="panel panel-heading">
                    Welcome {{hero.name}} 
                </div>
                <div class="panel panel-body">
                    <label for="hero-name">Hero Name</label>
                    <input class="form-control" id="hero-name" [(ngModel)]="hero.name">
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-1 col-md-offset-2">

            <button class="btn btn-primary btn-block" (click)="renderHeroListComponent_HDCM()">
					Go Back
				</button>

        </div>
    </div>

</div>
