<div class="row">
    <div class="col-md-4 col-md-offset-2">

        <div class="panel panel-default">
            <div class="panel panel-heading">
                Hero list component view page
            </div>
            <div class="panel panel-body">
                <ul class="heroes-list-style">
                    <li class="heroList" *ngFor="let heroInfo of heroesList | async" (click)="renderHeroDetailInfo_HLCM(heroInfo)"
                        [class.selectedHeroHlcv]="isSelectedHero_HLCM(heroInfo)">
                        <span class="badge">{{heroInfo.id}}</span> {{heroInfo.name}}
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
