<div class="row">

	<div class="col-md-5 col-md-offset-1">
		<div class="col-md-10">
			<ul class="demo1Ul">
				<li class="heroName" *ngFor="let hero of heroes" (click)="selectHero(hero)">
					{{hero.name}}
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-4 col-md-offset-1">
		<div class="col-md-10 col-md-offset-1" *ngIf="selectedHero">
			<demo-1-child [heroId]="selectedHero.id" [heroRef]="selectedHero"></demo-1-child>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<demo-2-child [major] ="25" [minor]="34"></demo-2-child>
		</div>
	</div>

</div>