li.heroName{
	list-style:none;
	background-color: #E6E6E6;
	height: 35px;
	margin-bottom: 5px;
	padding-top: 7px;
	padding-left: 20px;
	border-radius: 15px;
}

li.heroName:hover{
	background-color: #CCCCCC;
	font-style:italic;
	cursor:all-scroll;
}

.verionConrol{
	margin-bottom:25px;
	padding-left:60px;
}