.section-table--container {
  width: 100%;
  overflow-x: scroll;
  border-right: 2px solid #d4d4d4;
  box-sizing: border-box;

  .table--container {
    background-color: #fafafa;
    border-collapse: collapse;
    margin: 0 auto;
  }

  tbody {
    > :nth-child(odd) {
      background-color: #ffffff;
    }
    > :nth-child(even) {
      background-color: #fcfcfd;
    }
  }

  .thead-row--container {
    border-top: 2px solid #d4d4d4;
    border-bottom: 2px solid #d4d4d4;
  }

  .thead-th--container {
    background-color: #ededed;
    border-left: 2px solid #d4d4d4;
    border-right: 2px solid #d4d4d4;
  }

  .tbody-th--container {
    background-color: #ededed;
    border-left: 2px solid #d4d4d4;
    border-right: 2px solid #d4d4d4;
  }

  .thead-row--container,
  .tbody-th--container {
    background-color: #ededed;
  }

  .tbody-row--container {
    border-bottom: 1px solid #d4d4d4;
    height: 45px;
  }

  .tbody-row--container {
    &:hover {
      background-color: #f0f0f5;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .thead-th--container,
  .tbody-th--container,
  .tbody-td--container {
    padding-top: 10px;
    padding-left: 5px;
    min-width: 100px;
    text-align: left;
  }
}
