.section-table--container {
  .table--container {
    background-color: #fafafa;
    border-collapse: collapse;
    width: 100%;
  }

  tbody {
    > :nth-child(odd) {
      background-color: #ffffff;
    }
    > :nth-child(even) {
      background-color: #fcfcfd;
    }
  }

  .tbody-row--container,
  .thead-row--container {
    border-bottom: 1px solid #d4d4d4;
    height: 45px;
  }

  .tbody-row--container {
    &:hover {
      background-color: #f0f0f5;
    }
  }

  .thead-th--container,
  .tbody-th--container,
  .tbody-td--container {

    padding-top: 10px;
    padding-left: 5px;
    min-width: 100px;
    text-align: left;
  }
}
